$color_1: green;
$color_2: lightgreen;
$color_3: #fff;
$color_4: white;
$color_5: rgb(26, 100, 26);
$color_6: #000000;
$font-family_1: 'Montserrat', sans-serif;
$font-family_2: 'Lato', sans-serif;
$font-family_3: 'Arial', sans-serif;
$font-family_4: 'Montserrat';
$font-family_5: 'Lato';
$font-family_6: 'Arial';
$font-family_7: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family_8: "Source Sans 3";
$background-color_1: white;
$background-color_2: #ffff;
$background-color_3: lightgreen;
$background-color_4: transparent;
$border-color_1: green;
$border-color_2: #ffffff;


body {
	font-family: $font-family_1;
	font-family: $font-family_2;
	font-family: $font-family_3;
	margin: 0;
	padding-top: 70px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.titulo {
	h1 {
		font-family: $font-family_4;
		font-size: 40px;
		color: $color_1;
	}
}
h2 {
	font-family: $font-family_4;
	font-size: 40px;
	color: $color_1;
}
.nav-item {
	h3 {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 25px;
		font-family: $font-family_5;
		border-color: $border-color_1;
		transition: color 0.2s ease-in-out;
		&:hover {
			color: $color_2;
		}
	}
}
#head {
	background-color: $background-color_1;
	color: $color_3;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.imagen1 {
	max-height: 60px;
}
.imagen2 {
	max-height: 60px;
}
.linea-horizontal2 {
	width: 100% !important;
	border: none;
	border-bottom: 3px solid grey;
	padding-bottom: 50px;
	padding-top: 50px;
}
.title1 {
	background-color: $background-color_2;
	color: $color_1;
	padding: 40px 0;
	text-align: center;
}
.lista1 {
	list-style: none;
	padding: 100px;
	text-align: center;
	li {
		margin-bottom: 20px;
		font-family: $font-family_5;
		font-size: 30px;
	}
}
.col-md-6 {
	a {
		text-decoration: none;
		color: $color_2;
		font-family: $font-family_5;
		font-size: 35px;
	}
}
.carousel-inner {
	img {
		height: 400px;
		object-fit: cover;
	}
}
.boton {
	display: inline-block;
	border-color: $border-color_1;
	color: $color_3;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 10px;
	transition: background-color 0.5s ease-in-out;
	margin-top: 15px;
	a {
		text-align: center;
		text-decoration: none;
		color: $color_1;
		font-family: $font-family_5;
		font-size: 30px;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	&:hover {
		background-color: $background-color_3;
	}
}
.boton2 {
	display: inline-block;
	border-color: $border-color_1;
	color: $color_3;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 10px;
	transition: background-color 0.5s ease-in-out;
	a {
		text-align: center;
		text-decoration: none;
		color: $color_1;
		font-family: $font-family_5;
		font-size: 30px;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	&:hover {
		background-color: $background-color_3;
	}
}
.boton3 {
	display: inline-block;
	border-color: $border-color_1;
	color: $color_3;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 10px;
	transition: background-color 0.5s ease-in-out;
	a {
		text-align: center;
		text-decoration: none;
		color: $color_1;
		font-family: $font-family_5;
		font-size: 30px;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	&:hover {
		background-color: $background-color_3;
	}
}
.fixed-buttom {
	img {
		background-color: $background-color_4;
		position: fixed;
		bottom: 1px;
		right: 1px;
		text-align: right;
	}
}
.footer {
	a {
		img {
			margin: 5px;
			position: sticky;
		}
	}
}
h2.encabezado2 {
	color: $color_1;
	margin-bottom: 40px;
}
.text-center {
	h2 {
		margin-top: 50px;
	}
}
.container-fluid {
	img {
		display: inline-block;
		border-color: $border-color_1;
		color: $color_3;
		padding: 4px 4px;
		border: none;
		border-radius: 5px;
		text-decoration: none;
		transition: background-color 0.2s ease-in-out;
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 30px;
	padding-bottom: 30px;
}
.navbar-nav {
	.nav-link {
		display: block;
	}
}
#imagen-parallax {
	background-attachment: fixed;
	height: 40%;
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		text-align: center;
		color: $color_4;
		padding-top: 45px;
		padding-bottom: 45px;
		padding-left: 45px;
		padding-right: 45px;
	}
	p {
		font-size: 25px;
	}
}
p {
	text-align: center;
	color: $color_4;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 45px;
	padding-right: 45px;
}
.box-1 {
	p {
		color: $color_2;
		font-family: $font-family_6;
		padding-right: 50px;
		font-size: 25px;
	}
}
.col-md-8 {
	p {
		color: $color_5;
		font-family: $font-family_7;
		font-size: 20px;
	}
}
.section-grid {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	grid-gap: 20px;
	padding-top: 50px;
	align-items: center;
	text-align: center;
}
.image {
	height: 800px;
	width: 400px;
	background-size: cover;
}
.image1 {
	background-image: url('../img/info1.png');
}
.image2 {
	background-image: url('../img/info2.png');
}
.text {
	grid-column: 1 / span 2;
	font-size: 20px;
}
.form {
	width: 570px;
	height: 550px;
	box-shadow: 0px 0px 5px rgb(40, 255, 0);
	background: #ffffff;
	border-color: $border-color_2;
	border-width: 15px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	position: relative;
	left: 100px;
	bottom: 350px;
	list-style: circle;
	color: $color_6;
	font-family: $font-family_8;
	font-size: 20px;
	text-align: start;
	list-style-position: inside;
}
@media (max-width: 575px) {
	iframe {
		position: relative;
		width: 300px;
		height: 200px;
	}
}
@media (max-width: 653px) {
	.boton2 {
		padding: 10px 20px;
		margin-right: 10px;
		width: 35%;
		margin: 5px;
		a {
			font-size: 20px;
		}
	}
	.boton {
		padding: 10px 20px;
		margin-right: 10px;
		a {
			font-size: 20px;
		}
	}
	.boton3 {
		a {
			font-size: 20px;
		}
	}
}
@media (max-width: 768px) {
	.col-md-6 {
		img {
			flex: 0 auto 0;
			width: 100%;
		}
		img-thumbnail {
			align-items: center;
		}
	}
	.fixed-buttom {
		img {
			width: 100px;
			height: 100px;
		}
		position: static;
	}
	.boton3 {
		padding: 10px 20px;
		width: 35%;
		margin: 5px;
	}
	#imagen-parallax {
		h2 {
			text-align: center;
			color: $color_4;
			padding-top: 45px;
			padding-bottom: 45px;
		}
		p {
			font-size: 25px;
		}
	}
	p {
		text-align: center;
		color: $color_4;
		padding-top: 45px;
		padding-bottom: 45px;
	}
}
@media (max-width: 1071px) {
	.text {
		grid-column: 1/ span 4;
		margin-bottom: 50px;
	}
	.image {
		height: 500px;
		width: 200px;
	}
	.image1 {
		grid-column: 2/ span 1;
	}
}
@media (max-width: 455px) {
	.section-grid {
		display: inline-block;
		padding-top: 20px;
		padding-inline: 50px;
	}
	.image1 {
		padding-top: 15px;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.image2 {
		margin: 0 auto;
	}
}
