body {
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding-top: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo h1 {
  font-family: "Montserrat";
  font-size: 40px;
  color: green;
}

h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: green;
  margin-bottom: 10px;
}

.nav-item h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: "Lato";
  border-color: green;
  transition: color 0.2s ease-in-out;
}
.nav-item h3:hover {
  color: lightgreen;
}

#head {
  background-color: white;
  color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagen1 {
  max-height: 60px;
}

.imagen2 {
  max-height: 60px;
}

.linea-horizontal2 {
  width: 100% !important;
  border: none;
  border-bottom: 3px solid grey;
  padding-bottom: 50px;
  padding-top: 50px;
}

.title1 {
  background-color: white;
  color: green;
  padding: 40px 0;
  text-align: center;
}

.lista1 {
  list-style: none;
  padding: 100px;
  text-align: center;
}
.lista1 li {
  margin-bottom: 20px;
  font-family: "Lato";
  font-size: 30px;
}

.col-md-6 a {
  text-decoration: none;
  color: lightgreen;
  font-family: "Lato";
  font-size: 35px;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.boton {
  display: inline-block;
  border-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.5s ease-in-out;
  margin-top: 15px;
}
.boton a {
  text-align: center;
  text-decoration: none;
  color: green;
  font-family: "Lato";
  font-size: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.boton:hover {
  background-color: lightgreen;
}

.boton2 {
  display: inline-block;
  border-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.5s ease-in-out;
}
.boton2 a {
  text-align: center;
  text-decoration: none;
  color: green;
  font-family: "Lato";
  font-size: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.boton2:hover {
  background-color: lightgreen;
}

.boton3 {
  display: inline-block;
  border-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-top: 100px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.5s ease-in-out;
}
.boton3 a {
  text-align: center;
  text-decoration: none;
  color: green;
  font-family: "Lato";
  font-size: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.boton3:hover {
  background-color: lightgreen;
}

.fixed-buttom img {
  background-color: transparent;
  position: fixed;
  bottom: 1px;
  right: 1px;
  text-align: right;
}

.footer a img {
  margin: 5px;
  position: sticky;
}

h2.encabezado2 {
  color: green;
  margin-bottom: 40px;
}

.text-center h2 {
  margin-top: 50px;
}

.container-fluid img {
  display: inline-block;
  border-color: green;
  color: #fff;
  padding: 4px 4px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.container-fluid img:hover {
  background-color: lightgreen;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-nav .nav-link {
  display: block;
}

#imagen-parallax {
  background-attachment: fixed;
  height: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#imagen-parallax h2 {
  text-align: center;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}
#imagen-parallax p {
  font-size: 25px;
}

p {
  text-align: center;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}

.box-1 p {
  color: lightgreen;
  font-family: "Arial";
  padding-right: 50px;
  font-size: 25px;
}

.col-md-8 p {
  color: rgb(26, 100, 26);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  padding-top: 50px;
  align-items: center;
  text-align: center;
}

.image {
  height: 800px;
  width: 400px;
  background-size: cover;
}

.image1 {
  background-image: url("../img/info1.png");
}

.image2 {
  background-image: url("../img/info2.png");
}

.image3 {
  background-image: url("../img/sa.png");
}

.image4 {
  background-image: url("../img/hola-saludo.gif");
}

.text {
  grid-column: 1/span 2;
  font-size: 20px;
}

.animate__animated .animate__backInLeft {
  --animate-duration: 3s;
}
.animate__animated .animate__backInRight {
  --animate-duration: 6s;
}
.animate__animated .animate__backInUp {
  --animate-duration: 8s;
}
.animate__animated .animate__flipInY {
  --animate-duration: 4s;
}

.form {
  width: 570px;
  height: 620px;
  box-shadow: 0px 0px 5px rgb(40, 255, 0);
  background: #ffffff;
  border-color: #ffffff;
  border-width: 15px;
  border-style: solid;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  left: 100px;
  bottom: 350px;
  list-style: circle;
  color: #000000;
  font-family: "Source Sans 3";
  font-size: 20px;
  text-align: start;
  list-style-position: inside;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form label {
  margin-bottom: 5px;
}
.form form input,
.form form textarea {
  margin-bottom: 15px;
}
.form form button {
  margin-top: 10px;
}

@media (max-width: 575px) {
  iframe {
    position: relative;
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 653px) {
  .boton2 {
    padding: 10px 20px;
    margin-right: 10px;
    width: 35%;
    margin: 5px;
  }
  .boton2 a {
    font-size: 20px;
  }
  .boton {
    padding: 10px 20px;
    margin-right: 10px;
  }
  .boton a {
    font-size: 20px;
  }
  .boton3 a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .col-md-6 img {
    flex: 0 auto 0;
    width: 100%;
  }
  .col-md-6 img-thumbnail {
    align-items: center;
  }
  .form {
    left: 15px;
    padding: 10px 20px;
    width: 90%;
    height: 50%;
    margin: 5px;
  }
  label {
    width: 55%;
    margin: 5px;
  }
  input,
  textarea {
    padding: 10px 20px;
    width: 95%;
    margin: 5px;
  }
  .fixed-buttom {
    position: static;
  }
  .fixed-buttom img {
    width: 100px;
    height: 100px;
  }
  .boton3 {
    padding: 10px 20px;
    width: 95%;
    margin: 5px;
  }
  #imagen-parallax h2 {
    text-align: center;
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  #imagen-parallax p {
    font-size: 25px;
  }
  p {
    text-align: center;
    color: white;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (max-width: 1071px) {
  .text {
    grid-column: 1/span 4;
    margin-bottom: 50px;
  }
  .image {
    height: 500px;
    width: 200px;
  }
  .image1 {
    grid-column: 2/span 1;
  }
  .image3 {
    grid-column: 2/span 1;
  }
}
@media (max-width: 1700px) {
  .form {
    margin-top: 400px;
  }
}
@media (max-width: 455px) {
  .section-grid {
    display: inline-block;
    padding-top: 20px;
    padding-inline: 50px;
  }
  .image1 {
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .image2 {
    margin: 0 auto;
  }
  .image3 {
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .image4 {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
